#App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#App::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('assets/wallpaper.webp') center / cover fixed;
    z-index: -1;
    filter: brightness(0.25);
}

#App > .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 80px;
    overflow: auto;
}

#App .wrapper .header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 24px;
    text-align: center;
}

#App .wrapper .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#App .wrapper .body .group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 240px;
    max-width: 100%;
    margin: 0 20px 40px;
}

#App .wrapper .body .group.store-selector,
#App .wrapper .body .group.time-selector {
    width: -webkit-fill-available;
    margin-bottom: 60px;
}

#App .wrapper .body .group .radio {
    display: flex;
    justify-content: center;
    gap: 0 40px;
}

#App .wrapper .body .group .radio label {
    border: 2px solid rgb(255 255 255 / 20%);
    padding: 8px 16px;
    transition: 0.5s border-color;
}

#App .wrapper .body .group .radio label:hover {
    border-color: rgb(255 255 255 / 30%);
}

#App .wrapper .body .group .radio label:has(:checked) {
    border-color: rgb(255 255 255 / 50%);
}

#App .wrapper .body .group .radio label input {
    display: none;
}

#App .wrapper .body .group .title {
    text-transform: uppercase;
    margin: 0 4px 8px;
    font-size: 20px;
}

#App .wrapper .body .group .inputs .input {
    margin-bottom: 8px;
    font-size: 20px;
}

#App .wrapper .body .group .inputs .input .label {
    font-variant: all-small-caps;
    padding: 0px 4px 2px;
}

#App .wrapper .body .group .inputs .input input[type='number'] {
    background: rgb(255 255 255 / 10%);
    padding: 2px 4px;
    font-family: monospace;
    width: 100%;
}

#App .wrapper .body .group .inputs .input .arrows {
    width: 25px;
    display: flex;
    flex-direction: column;
}

#App .wrapper .body .group .inputs .input .arrows > .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: rgb(255 255 255 / 10%);
}

#App .wrapper .body .group .inputs .input .arrows .arrow.up::before,
#App .wrapper .body .group .inputs .input .arrows .arrow.down::before {
    content: '';
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 1px;
}

#App .wrapper .body .group .inputs .input.arrows .arrow.up::before {
    border-color: white transparent transparent white;
    transform: rotate(45deg) translate(2px, 2px);
}

#App .wrapper .body .group .inputs .input.arrows .arrow.down::before {
    border-color: transparent white white transparent;
    transform: rotate(45deg) translate(-2px, -2px);
}

input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    display: none;
}

#App .button {
    display: flex;
    color: rgb(255 255 255 / 80%);
    border: 2px solid rgb(255 255 255 / 20%);
    padding: 12px 26px;
    text-transform: uppercase;
    transition: 0.3s border-color, 0.3s color;
}

#App .button:hover {
    color: white;
    border-color: rgb(255 255 255 / 30%);
}

#App .button:active,
#App .button:hover:active {
    color: white;
    border-color: rgb(255 255 255 / 40%);
}
