.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 80px;
}

#App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    font-size: 24px;
    text-align: center;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.group {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
    margin: 0 0 40px;
    max-width: 100%;
}

.group:not(:last-of-type) {
    padding-right: 40px;
}

.title {
    text-transform: uppercase;
    margin: 0 4px 8px;
    font-size: 20px;
}

.label {
    font-variant: all-small-caps;
    padding: 0px 4px 2px;
}

.input {
    margin-bottom: 8px;
    font-size: 20px;
}

input:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    background: rgb(255 255 255 / 10%);
    padding: 2px 4px;
    font-family: monospace;
    width: 100%;
}